/*Import the fonts used*/
@font-face {
    font-family: Gotham-Font;
    src:local("C:\Users\ryana\OneDrive\Desktop\Cloned Repository\Hotel-Website\Gotham-Font");
}
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
     --darkblue:rgba(32, 64, 81);
    --transparent-darkblue:rgba(32, 64, 81,0.9);
    --dark-color:#393e46;
}
/*Global Styles*/
html{
    font-size: 10px;
}
body{
    font-family: "Open Sans", sans serif;
    font-size: 1.7rem;
    color: var(--dark-color);
}
.dot {
  height: 9px;
  width: 9px;
  background-color:var(--darkblue);
  border-radius: 50%;
  display: inline-block;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
section{
    padding: 5rem;
}
/*Reusable styles*/
.container{
   height: auto!important;
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.btn
{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: .5rem 3.5rem;
    border: none;
    border-radius: 10rem;
    display: inline-flex;
    align-items: center;
}

.form-btn
{
    margin-top: 2.5rem;
    cursor: pointer;

}
.btn-gradient{
    background:#fff;
}
.btn-gradient:hover{
   background:#c1b73a;
}

.dots{
    font-size: 2.5rem;
    margin-left: .5rem;
    opacity: .75;
}
/*Header styling*/
.header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background:var(--darkblue);
    z-index: 999;
    transition: all 0.75s;
}
.header.active{
    background-color:var(--transparent-darkblue);
}
/* Navigation styles-nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
max-width: 80%;
height: 60px;
}
.hamburger-menu{
    font-size: 2.7rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}
.hamburger-menu .fa-times{
    display: none;
}
.menu-open .hamburger-menu .fa-times{
display: block;
}
.menu-open .hamburger-menu .fa-bars{

display: none;
}

.nav-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s; 
}
.menu-open .nav-list{  
    opacity: 1;
    transform: scale(1);
}
.nav-item:not(last-child){

    margin-bottom: .5rem;
}
.nav-link{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}
/*Hero Section */
.heading{
    color: #cca42f;
    line-height: 1;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    margin-bottom: 2.5rem;  
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Gotham';
}
.subtitle{
    color: #cca42f;
    font-size: 3.8rem;
    font-weight: 300;
    font-family: 'Gotham' ,cursive;
}
/*Booking section styles*/
.color{
    background-color: var(--transparent-darkblue);
}
td{
    margin-left: 2px;
    margin-right: 3px;
}
.form-head{
    font-size: 5rem;

}
.input{
    margin-left: 1rem;
    color: #fff

}

.btn-color{
    background-color:#B0A06C;
   } 
.btn-color:hover{
    background-color:#876A20;
}
::placeholder{
    color: inherit;
}

/*About Section of index */

#hotel-introduction
{
    padding:5rem 0;
    text-align:left;
    background:#f4f4df;
    margin-bottom:1px;
}

    #hotel-introduction .hotel-introduction-inner{
        padding-right:16%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        height:67rem;
    }
    #hotel-introduction .hotel-introduction-inner .hotel-logo
    {
        margin-bottom:1rem;
        width:20rem;
    }
    #hotel-introduction .hotel-introduction-inner h1
    {
        font-size:2.25rem;
        text-transform:uppercase;
        color:#000;
    }
    #hotel-introduction .hotel-introduction-inner h1 span
    {
        display:block;
        font-size:1.4375rem;
        color:#606d23;
    }
    #hotel-introduction .hotel-introduction-inner h2
    {
    font-family: 'Raleway', sans-serif;
    font-size:3rem;
    margin-bottom:3rem;
    }
    
    #hotel-introduction .hotel-introduction-inner .description
    {
        margin-bottom:2rem;
    }
    
    #hotel-introduction .intro-image .img-holder
    {
        height:54.75rem;
        overflow:hidden;
    }
    #hotel-introduction .intro-image .img-holder img{
        width:100%;
        height: 100vh;
    }
    
    @media (max-width: 1201px){
        #hotel-introduction .hotel-introduction-inner{padding:0 10%;}
    }

    @media (max-width: 992px){
        #hotel-introduction .hotel-introduction-inner{text-align:center;padding:0 10% 5rem;}
    }
    
    @media (max-width: 768px){
        #hotel-introduction .hotel-introduction-inner
        {
            height:auto!important;
        }
        
        #hotel-introduction .intro-image .img-holder{height:auto;overflow:hidden;}
        #hotel-introduction .intro-image .img-holder img
        {
            position:relative!important;
            width:100%!important;
            height:auto;
        }
    }

/*Hotel Accomadation*/
    #hotel-accommodation{margin-bottom:2rem;}
    #hotel-accommodation .hotel-accommodation-inner{position:relative;}
    #hotel-accommodation .hotel-accommodation-inner .img-holder{overflow:hidden;} 
    #hotel-accommodation .hotel-accommodation-inner .img-holder img{width:100%; height:350px}
    
    #hotel-accommodation .hotel-accommodation-inner .details
    {
        position:absolute;
        left:5rem;
        bottom:3rem;}
    #hotel-accommodation .hotel-accommodation-inner .details h2
    {   font-size:3rem;
        color:#fff;
        font-weight: bold;
        text-transform:uppercase;
        font-family: 'Gotham';
        margin:0 0 2rem 0;
    }
    #hotel-accommodation .hotel-accommodation-inner .details h2 span
    {
        display:block;
    }
    #hotel-accommodation .hotel-accommodation-inner .details .btn-holder{}
    
    @media (max-width: 768px) {
        #hotel-accommodation .hotel-accommodation-inner .details{left:2rem;right:2rem;text-align:center;}
        #hotel-accommodation .hotel-accommodation-inner .details h2{}
    }
    .btn-white
    {
        background:#fff;
        color:#000;
        border-radius:0;
        border:solid 1px #b7b7b7;
        overflow:hidden;
        font-size:1.4375rem;
        font-weight:400;
        padding:0.75rem 2rem 0.75rem 2rem;
        display: inline-block;
        vertical-align: middle;box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition:all 0.4s ease 0s;
        text-transform:uppercase;
        letter-spacing:2px;
        text-align:left;
        position:relative;
    }
    .btn-white:hover
    {
        background:#c1b73a;color:#fff;border:solid 1px ;
    }


/*Hotel Facilities*/
    #hotel-facilities
    { 
        margin-top:10rem;
        margin-bottom:5rem;
    }
    #hotel-facilities .hotel-facilities-images .img-holder{
        height:50rem;
        overflow:hidden;
    }
    #hotel-facilities .hotel-facilities-images .img-holder img{width:100%; }
    
    #hotel-facilities .hotel-facilities-details{
        height:50.5625rem;
        background:#f4f4df;
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding:2rem 10%;
    }
    #hotel-facilities .hotel-facilities-details h2{
        margin:0 0 2rem 0;
        font-family: 'Old Standard TT', serif;
        font-size:2rem;
        text-transform:uppercase;
    }
    #hotel-facilities .hotel-facilities-details .description{
        margin-bottom:2rem;
    }

    #hotel-facilities .hotel-facilities-details .btn-holder{ margin-top: 1rem ;}
    
    @media (max-width: 992px) {
        #hotel-facilities .hotel-facilities-details{text-align:center;}
        
    }
    
    @media (max-width: 768px) {
        #hotel-facilities .hotel-facilities-images .img-holder{margin-bottom:8px;height:35rem;}
    }
    
/*Rooms Offers section styling*/
section-head{
    text-align: center;
    margin-bottom: 5rem;
}
.heading-rooms{
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.sub-heading{
    color: ;
     display: block;
    font-size: 2.4rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}
.grid{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.grid-item{
display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;

}
.grid-item:hover{
     opacity:0.7;
}
.rating{
    color: orange;
}
.paragraph{
    color: #b0a06c;
    margin-bottom: 2.5rem;
}
.roooms{
    background-color: #f2f6f9;
}

/*.image-wrap{
    position: relative;
    height: 30rem;
}
.image-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}*/
.main{
    margin-bottom: 3rem;
}



.room-image{
 width: 100%;
 height:100%;   
 object-fit:cover;
}
.room-name{
    color:#12171E;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Gotham';

}
.room-price{
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Courgette';
}
.per-night{
    font-size: 1.7rem;
}

/*Footer Styling*/
.footer{
    height: 30rem;
    padding :2rem 0;
    background-color: var(--transparent-darkblue);
}
.footer-content-brand
{
    margin-bottom:2rem; 
}

.footer .paragraph{
color: #fff;
text-align: center;
}

.footer-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: #fff;
}
.socail-media{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.sm-link{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background color .5s;

}
.sm-link{
    color:var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-link i
{
    margin:auto;
     display: flex;
    justify-content: center;
    text-align: center;
}
.footer-center
{
    color: #fff;
    text-align: center;
}
.logo{
display: flex;
justify-content: center;
align-items: center;
}
@media screen and (min-width:780px){
    .header{
        height:6rem;
    }
    .header .active{
        height: 6rem;
    }
    /*Hero section styling*/
    .title{
        font-size: 8rem;   
    }
    /*#hotel-facilities .hotel-facilities-images .img-holder{margin-bottom:8px;height:100rem;}*/
    /*Footer section*/
    /*.footer{
        overflow-x: hidden;
    }*/
   
    .footer-content-brand{
        margin-bottom: 0;
        flex:0 0 50%;
    }
    .footer .paragraph {
        margin-top: 2.5rem;
    }
    .footer-heading{

        margin-bottom: 0rem;
    }
    }/*Making Website responsive*/

@media screen and (min-width:1080px){
 section{
        padding: 10rem 0;
 }
 /*header style*/
.hamburger-menu{
    display: none;
}
.nav-list{
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    flex-direction: row;
    justify-content: initial;
    opacity: 1;
    transform:scale(1);
}
.nav-item:not(last-child)
{
    margin-bottom: 0;
}
.nav-link{
    font-size: 1.3rem;
    font-size: normal;
}
.heading{
    font-size: 12rem;
}
.subtitle{
    font-size: 5rem
}
