* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  background-color: #a38e3b;
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #3c4457;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 80px 14px 12px 14px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Rooms {background-color: #a38e3b;}
#Wedding {background-color: #a38e3b;}
#Apartments {background-color: #a38e3b;}
#Health {background-color: #a38e3b;}